<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <img src="https://picsum.photos/800/200" class="card-img-top" alt="">
        <div class="card-body">
          <h2 class="card-title">{{article.title}}</h2>
          <p class="card-text">{{article.content}}</p>
          <p class="card-text">{{article.content}}</p>
          <hr class="border border-success border-1 opacity-100">
          <p class="card-text"><small class="text-muted">Written By : Hamza OUGGADI</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
