<div class="container">
    <div class="row">
      <div class="col-8">
        <div class="card mb-3">
          <div class="card-header bg-success text-bg-success">Articles</div>
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur
              assumenda distinctio eaque eligendi error facere, inventore ipsa iure laboriosam
              minus nam necessitatibus officiis omnis quia quibusdam quisquam reiciendis vel?</p>
            <div *ngFor="let a of article | async" class="row">
              <div class="col">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="https://picsum.photos/300/220" class="img-fluid rounded-start" alt="">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{a.title}}</h5>
                        <p class="card-text">{{a.content}}</p>
                        <a class="btn btn-success" [routerLink]="['/articlepage']" [queryParams]="{articleId : a.id}">Go To Article</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-header bg-success text-bg-success">Sommaire</div>
          <div class="card-body">
            <h5 class="card-title">Select a Category down below to filter the articles on the left.</h5>
            <ul class="list-group">
              <li *ngFor="let c of categories | async" class="list-group-item list-group-item-action">{{c.name}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>

